<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <!--Font Awesome Links-->
        <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
        <link rel="canonical" href="https://getbootstrap.com/docs/4.1/examples/sign-in/">
    
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    
        <!--Customized CSS-->
        <link rel="stylesheet" href="/css/home/home.css" />
    
        <!--Google Font Link-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=McLaren&display=swap" rel="stylesheet">

        <!--Link to CK editor-->
        <script src="https://cdn.ckeditor.com/4.17.1/standard/ckeditor.js"></script>
        <title>Add an event</title>
    
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <a href="/" class="navbar-brand">Your Events</a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li id="addEvent">
                        <a href="/logout"><i class="fa fa-sign-out fa-2x"></i></a>
                    </li>
                </ul>
            </div>
        </nav>
    </head>
<body>
    <div class="container">
        <form action="/addEvent" method="post">
            <div class="form-group">
                <br>
                <label>Title</label>
                <input class="form-control" type="text" name="eventTitle" required><br>
                <label>Event</label>
                <!--<textarea name="eventBody" class="form-control" cols="30" rows="10" required></textarea>-->
                <textarea name="eventBody"></textarea>
                <script>
                  CKEDITOR.replace('eventBody');
                </script>
            </div>
            <button class="btn btn-primary" type="submit" name="button">Add Event</button>
        </form>
    </div>
    <div class="footer-padding"></div>
    <div class="footer">
        <p>Made with ❤️ by Event Listers.</p>
    </div>
</body>
</html>